[submodule "external/alpaca-mcp-server"]
	path = external/alpaca-mcp-server
	url = https://github.com/alpacahq/alpaca-mcp-server.git
[submodule "external/finance-tools-mcp"]
	path = external/finance-tools-mcp
	url = https://github.com/VoxLink-org/finance-tools-mcp.git
[submodule "external/Financial-Modeling-Prep-MCP-Server"]
	path = external/Financial-Modeling-Prep-MCP-Server
	url = https://github.com/imbenrabi/Financial-Modeling-Prep-MCP-Server.git
[submodule "external/maverick-mcp"]
	path = external/maverick-mcp
	url = https://github.com/wshobson/maverick-mcp.git
[submodule "external/mcp-server-ccxt"]
	path = external/mcp-server-ccxt
	url = https://github.com/doggybee/mcp-server-ccxt.git
[submodule "external/yahoo-finance-mcp"]
	path = external/yahoo-finance-mcp
	url = https://github.com/Alex2Yang97/yahoo-finance-mcp.git
